<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	
    <category label="32580"> <!-- acteurs -->   
        <setting label="32580" type="lsep"/>
        <setting type="sep"/>
        <setting id="cacheacteur" type="bool" label="32600" default="false" />
        <setting label="32601" type="action" action="RunScript(script.iconmixtools,videcache=True&cache=acteurs)"/>
    </category>
    <category label="32581"> <!-- realisateurs -->
     
       <setting label="32581" type="lsep"/>
       <setting type="sep"/>
        <setting id="cacherealisateur" type="bool" label="32600" default="false" />
        <setting label="32601" type="action" action="RunScript(script.iconmixtools,videcache=True&cache=realisateurs)"/>
    </category>
    <category label="32582"><!-- Sagas -->
     <setting label="32582" type="lsep"/>
     <setting type="sep"/>
        <setting id="cachesaga" type="bool" label="32600" default="false" />
        <setting label="32601" type="action" action="RunScript(script.iconmixtools,videcache=True&cache=collections)"/>
        <setting id="updatesagaposter" type="bool" label="32603" default="false" />
        
    </category>
    <category label="32583"><!-- Series -->
     <setting label="32583" type="lsep"/>
     <setting type="sep"/>
        
        <setting id="cacheserie" type="bool" label="32600" default="false" />
        <setting label="32601" type="action" action="RunScript(script.iconmixtools,videcache=True&cache=series)"/>
        <setting id="updatetvposter" type="bool" label="32603" default="false" />
       
    </category>
    <category label="32585"><!-- Musique -->
     <setting label="32585" type="lsep"/>
     <setting type="sep"/>
        
        <setting id="cachemusic" type="bool" label="32600" default="false" />
        <setting label="32601" type="action" action="RunScript(script.iconmixtools,videcache=True&cache=music)"/>
        <setting id="cachemusiccover" type="bool" label="32587" default="false" />
       
    </category>
    
    <category label="32586"><!-- Bande annonce -->
     <setting label="32589" type="lsep"/>
     <setting type="sep"/>
        <setting label="32594" type="lsep"/>
        <!-- <setting label="32588" type="slider" id="tempsannonce" default="0" range="0,1,10" option="int" /> -->
        <setting label="32588" type="enum" id="tempsannonce" default="0" values="0|1|2|3|4|5|6|7|8|9|10" />
        <setting label="32592" type="bool" id="annoncefull" enable="!eq(-1,0)" default="false"/>
        <setting label="32578" type="bool" id="annoncefilm" enable="!eq(-2,0)" default="true"/>
        <setting label="32579" type="bool" id="annonceserie" enable="!eq(-3,0)" default="true"/>
        <setting label="32800" type="bool" id="annoncetoutes" enable="!eq(-4,0)" default="true"/>
        
        <setting type="sep"/>
        <setting label="32596" type="lsep"/>
        <setting id="youtubeactif" type="bool" label="32597" default="true" />
        <setting label="32598" type="enum" id="YotubeMiniQualite" enable="eq(-1,true)" default="0" values="720|480|320"/>
        <setting type="sep"/>
        <setting label="32595" type="lsep"/>
        <setting id="allocineactif" type="bool" label="32590" default="false" />
        <setting label="32591" type="enum" id="AllocineMiniQualite" enable="eq(-1,true)" default="0" values="720|480|320"/>
        <setting label="32593" type="bool" id="allocinefirst" enable="eq(-2,true)" default="false" />  
        <setting label="32599" type="bool" id="allocinepasdetrailer" enable="eq(-3,true)" default="true" />  
        <setting label="32801" type="bool" id="allocinefrancais" enable="eq(-4,true)" default="false" />      
       
    </category>
    
    <category label="32708"><!-- Notation -->
     <setting label="32709" type="lsep"/>
     <setting type="sep"/>        
        <setting label="32710" type="bool" id="noterfilm"  default="false"/>
        <setting label="32711" type="bool" id="noterserie" default="false"/>         
    </category>
    
    <category label="32851"><!-- Autocomplete -->
      <setting type="sep"/>
        <setting label="32853" type="select" values="google|youtube|kodi|off" id="autocomplete_provider" default="kodi"/>
        <setting label="32852" visible="!eq(-1,local)+!eq(-1,bing)" type="select" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" id="autocomplete_lang" default="fr"/>
        <setting label="32852" visible="eq(-2,local)" type="select" values="en|de|fr|nl" id="autocomplete_lang_local" default="fr"/>
        <setting label="Cache" type="bool"  id="autocomplete_cache" default="true"/>
    </category>
    
    <category label="32856"><!-- Purge -->
     <setting label="32856" type="lsep"/>
     <setting type="sep"/>
        
        <setting id="autopurge" type="bool" label="32857" default="false" />
        <setting label="32858" type="action" action="RunScript(script.iconmixtools,purgedatabase=True&purgedatabasemanuel=True)"/>
       
    </category>
    
   <category label="DEBUG"><!-- Debug -->
     <setting label="DEBUG" type="lsep"/>
     <setting type="sep"/>        
        <setting label="Activer" type="bool" id="iconmixdebug"  default="false"/>       
       
    </category>
   
   
    
</settings>
